{% include 'index.html' %}
{% block content %}
{% load static %}


<div class="content mb-2">
    <h1 class="text-center p-3" style="background-color: rgb(43, 43, 43); color: rgb(251, 251, 255);">Blog </h1><hr>
  <div class="row  justify-content-center d-flex">
    <!-------------------------   1st grid   ---------------->
    <div class="col-12 card shadow" style="width: 70rem;">
      <div class="borders">
        <img src="{% static 'images/blog3.jpg' %}" class="img-top m-2 justify-content-center" >
        <div class="body">
            <p style="background-color: rgb(21, 68, 176); color: aliceblue;" class="p-2 text-center display-6"><b>হুট করে বিশাল এক ঝর্ণার আবির্ভাব</b></p>
        </div>

        <hr class="invisible">

        
        <div class="texts">
            <p>হুট করে বিশাল এক ঝর্ণার আবির্ভাব, অনেকেই বাংলার নায়াগ্রা ফলস নামও দিয়ে ফেল্লো।<br>
বলছি তিনাপ সাইতারের কথা। <br>
খুব হার্ড-লাইফ রিস্কি কোন ট্রেক না, কিন্তু পরিস্থিতি সাপেক্ষে সেটাই যে অনেক সময় জীবন-যুদ্ধ জয় করার গল্প হয়ে দাঁড়ায় সেই গল্পই করছি আজ।<br>
তিনাপ সাইতার যাবো, খুব এক্সাইটেড।<br>
এমন সময় কল এলো মুশতাক ভাইয়ের। বলা বাহুল্য মুশতাক ভাই খুবই কাছের সুহৃদ, বড় ভাই সমতুল্য।<br>
ভাবলাম ভাই যাবে তিনাপ, জমে ক্ষীর হয়ে যাবে। <br>
কিন্তু ফোন দিয়ে বল্লো উনার বাবা মোফাক্কার আংকেল যাবেন। বয়স ৬৩-৬৪ এর মতন। বল্লো আব্বা যাবে বলসে মানে যাবেই, এখন তুই কিভাবে নিবি তুই দেখ, আমি আর কিছু জানিনা।<br> <br>
আংকেল কল দিলেন, বললাম যে টানা তিনদিন হাটা, এক্সট্রিম পাহাড় উঠা-নামা আছে আংকেল।<br>
আমাকে একেবারে তুড়ি মেরে উড়িয়ে দিয়ে বললেন আমি ব্যাটা মুক্তিযোদ্ধা, গেড়িলা ট্রেইনিং করা মানুষ। <br>
এখনো প্রতিদিন ৭-১০ কিলো হাটি-দৌড়াই। আমি যাচ্ছি, আমাকে নিয়ে চিন্তা করো না, বাকিদের সামলাও।<br>
অনেকভাবে ডিমোরালাইজড করার চেষ্টা করেও ব্যার্থ হয়ে বললাম ট্রিপে কি কি নিতে হবে আর কি কি নেয়া যাবে না।<br>
ওদিকে টুটুল ভাই, হাফিজ ভাই আর সুজন ভাইও যাবেন ট্রিপে। সম্ভবত ওটাই টুটুল ভাইয়ের প্রথম ট্রেক ছিলো, যদিও টুটুল ভাই এখন সারা পৃথিবীর বড় বড় মাউন্টেন চষে বেড়ান।<br>
ট্রিপের বেশিরভাগ মানুষ ছিলেন কোন না কোন ভাবে পরিচিত কিংবা টিজিবির পুরাতন মানুষ।<br> <br>
আগুন বাহিনী নামে এক বাহিনী তৈরী হয়ে গেলো ট্রিপের শুরুর দিনই যেখানে ছিলো মিলন ভাই, কাদের ভাই, কিউট বয় ইমতিয়াজ, সামি, রুকাইয়া।<br>
চুপচাপ আপু ফাতেমা আপু আর বিলু আপুও ছিলেন, পুরানো ট্রিপমেট। ফাতেমা আপু কথা বলেন না খুব একটা, শুধু হেসে যে কোন কথার রেসপন্স করেন।<br>
জোরে হাসলে বুঝি জোকস ভালো হয়েছে, আওয়াজ ছাড়া হাসলে বুঝি যে এই জোকস উনার আগের শোনা।<br>
অন্তরা আগে ট্যুর দিলেও আমার সাথে প্রথম ট্যুর, কিন্তু পূর্ব পরিচয় ছিলো। যার নাম দিয়েছিলাম টাটা ন্যানো! বাতাসের আগে দৌড়ায় টাটা ন্যানো গাড়ির মতন।<br>
নতুন সদস্য ছিলেন পুলিশে কর্মরত রাকিব ভাই, উনার বন্ধু নুর আলম সহ কয়েকজন। প্রথম পরিচয়েই বেশ আন্তরিক মনে হলো টিম টা।<br>
চাচাতো ভাই টিপু ছিলো, পোংটা বালক উপল ভাই ছিলো যার সেন্স অফ হিউমার দুর্দান্ত, সাথে ছিলো তিনাপের স্পেশাল হোস্ট নিশাত, যে বড় আর টাফ পাহাড় ছাড়া যায়না কোথাও।<br>
মোটকথা জমে যাওয়ার মতন একটা বাহিনী।<br>
প্রথমেই মোফাক্কার আংকেলকে খুঁজছিলাম, বাস স্ট্যান্ড এ পেয়ে গেলাম।<br>
দুর্দান্ত লেভেলের ফিটফাট মানুষ, স্লিম ফিগার, হাস্যোজ্জ্বল চেহারা। <br>
কাঁধে বিশাক এক ব্যাগ, কিন্তু নিয়ে সটাং দাড়িয়ে আছে।<br><br>
যাক, কনফিডেন্স এর কারণ কিছুটা আঁচ করা গেলো।<br>
বান্দরবান নেমে গাড়িতে করে রোয়াংছড়ি বাজার, তারপর ক্যাম্প এবং থানায় রিপোর্ট করে অনুমতিপত্র নিয়ে হাটা শুরু।<br>
একটু হেটেই একটা ঝিরি পেলাম, আহা কি শান্ত-শীতল বয়ে চলা পরিস্কার পানি।<br>
কিছুক্ষণ ঝিরি ধরে হেটে একটু পর গাইড জেমসন দাদা বললেন এর পর অনেক লম্বা পথে পানি পাওয়া যাবে না। ঝিরি থেকে পানি খেয়ে বোতল ভরে নেন।<br>
বয়ে চলা ঝিরির মাঝে বোতল টা ধরে ঘাড়ের গামছাটা দিয়ে বোতলের মুখে ধরলাম যেনো ছোট পাথর বা বালির কণা ছেঁকে বোতলে পরিচ্ছন্ন পানি ঢুকে। <br>
এবার অনন্ত যাত্রা শুরু। </p>
        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}